<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="#" th:action="@{/quiz/{quizId}/question/create(quizId=${quizId})}" th:object="${question}" method="post">
    <label for="questionText">Question Text:</label>
    <input type="text" th:field="*{questionText}" placeholder="Enter question" required/>

    <label for="questionType">Question Type (e.g., Multiple Choice):</label>
    <input type="text" th:field="*{questionType}" placeholder="Enter question type" required/>

    <button type="submit">Add Question</button>
</form>

</body>
</html>