<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/quiz/create}" th:object="${quiz}" method="post">
    <label for="title">Quiz Title:</label>
    <input type="text" th:field="*{title}" placeholder="Enter quiz title" required/>

    <label for="description">Description:</label>
    <textarea th:field="*{description}" placeholder="Enter quiz description" required></textarea>

    <button type="submit">Create Quiz</button>
</form>
</body>
</html>