<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Questions</title>
    <script th:inline="javascript">
        /*<![CDATA[*/
        function addQuestionForm() {
            let container = document.getElementById("questionsContainer");
            let questionIndex = container.children.length;

            let questionDiv = document.createElement("div"); // Use a div to wrap each question
            questionDiv.classList.add("question-form");
            questionDiv.innerHTML = `
                <h3>Question ${questionIndex + 1}</h3>
                <label for="questionText${questionIndex}">Question:</label><br>
                <input type="text" id="questionText${questionIndex}" name="questions[${questionIndex}].questionText" required/><br><br>

                <label for="questionType${questionIndex}">Type:</label><br>
                <select id="questionType${questionIndex}" name="questions[${questionIndex}].questionType" onchange="toggleOptions(${questionIndex}, this.value)" required>
                    <option value="0">Multiple Choice</option>
                    <option value="1">True/False</option>
                </select><br><br>

                <div id="optionsContainer${questionIndex}">
                    <div>
                        <label for="optionText0${questionIndex}">Option 1:</label><br>
                        <input type="text" id="optionText0${questionIndex}" name="questions[${questionIndex}].answers[0].text" required/>
                        <input type="checkbox" name="questions[${questionIndex}].answers[0].isCorrect" id="isCorrect0${questionIndex}"/>
                        <label for="isCorrect0${questionIndex}">Correct?</label><br><br>
                    </div>
                    <div>
                        <label for="optionText1${questionIndex}">Option 2:</label><br>
                        <input type="text" id="optionText1${questionIndex}" name="questions[${questionIndex}].answers[1].text" required/>
                        <input type="checkbox" name="questions[${questionIndex}].answers[1].isCorrect" id="isCorrect1${questionIndex}"/>
                        <label for="isCorrect1${questionIndex}">Correct?</label><br><br>
                    </div>
                </div>

                <button type="button" onclick="addOption(${questionIndex})">Add Another Option</button>
                <hr>
            `;
            container.appendChild(questionDiv);
        }

        function addOption(questionIndex) {
            let optionsContainer = document.getElementById("optionsContainer" + questionIndex);
            let optionCount = optionsContainer.children.length;

            let optionDiv = document.createElement("div");
            optionDiv.innerHTML = `
                <label for="optionText${optionCount}${questionIndex}">Option ${optionCount + 1}:</label><br>
                <input type="text" id="optionText${optionCount}${questionIndex}" name="questions[${questionIndex}].answers[${optionCount}].text" required/>
                <input type="checkbox" name="questions[${questionIndex}].answers[${optionCount}].isCorrect" id="isCorrect${optionCount}${questionIndex}"/>
                <label for="isCorrect${optionCount}${questionIndex}">Correct?</label><br><br>
            `;
            optionsContainer.appendChild(optionDiv);
        }

        function toggleOptions(questionIndex, type) {
            let optionsContainer = document.getElementById("optionsContainer" + questionIndex);
            if (type == "1") {  // True/False
                optionsContainer.innerHTML = `
                    <div>
                        <label for="optionText0${questionIndex}">True</label><br>
                        <input type="text" id="optionText0${questionIndex}" name="questions[${questionIndex}].answers[0].text" value="True" required/>
                        <input type="checkbox" name="questions[${questionIndex}].answers[0].isCorrect" id="isCorrect0${questionIndex}" value="true"/>
                        <label for="isCorrect0${questionIndex}">Correct?</label><br><br>
                    </div>
                    <div>
                        <label for="optionText1${questionIndex}">False</label><br>
                        <input type="text" id="optionText1${questionIndex}" name="questions[${questionIndex}].answers[1].text" value="False" required/>
                        <input type="checkbox" name="questions[${questionIndex}].answers[1].isCorrect" id="isCorrect1${questionIndex}" value="true"/>
                        <label for="isCorrect1${questionIndex}">Correct?</label><br><br>
                    </div>
                `;
            } else {  // Multiple Choice
                optionsContainer.innerHTML = `
                    <div>
                        <label for="optionText0${questionIndex}">Option 1:</label><br>
                        <input type="text" id="optionText0${questionIndex}" name="questions[${questionIndex}].answers[0].text" required/>
                        <input type="checkbox" name="questions[${questionIndex}].answers[0].isCorrect" id="isCorrect0${questionIndex}"/>
                        <label for="isCorrect0${questionIndex}">Correct?</label><br><br>
                    </div>
                    <div>
                        <label for="optionText1${questionIndex}">Option 2:</label><br>
                        <input type="text" id="optionText1${questionIndex}" name="questions[${questionIndex}].answers[1].text" required/>
                        <input type="checkbox" name="questions[${questionIndex}].answers[1].isCorrect" id="isCorrect1${questionIndex}"/>
                        <label for="isCorrect1${questionIndex}">Correct?</label><br><br>
                    </div>
                `;
            }
        }
        /*]]>*/
    </script>
</head>
<body>

<h2>Add Questions to Quiz</h2>

<form th:action="@{/quiz/createQuestion/{quizId}(quizId=${quizId})}" method="post" th:object="${questionForm}">
    <input type="hidden" name="quizId" th:value="${quizId}" />
    <div id="questionsContainer">
    </div>

    <button type="button" onclick="addQuestionForm()">Add Question</button>
    <button type="submit">Submit Questions</button>
</form>

</body>
</html>