<!DOCTYPE html>
<html lang="en" th:replace="~{shared/_layout::layout('Home Page', ~{::div#test}, ~{::style#css}, ~{::script#scr})}">

<style id="css">
    #test {
        color: #0b1c39;
    }
</style>

<div id="test">
    <h1>Welcome to the Quiz Platform</h1>
    <h2>Recent Quizzes</h2>

    <div th:if="${quizPartitions == null or quizPartitions.isEmpty()}">
        <p>There are no quizzes as of now.</p>
    </div>

    <div th:if="${quizPartitions != null and not #lists.isEmpty(quizPartitions)}">
        <div th:each="partition : ${quizPartitions}">
            <div th:insert="~{shared/_moving_cards::moving_cards(quizPartitions=${partition})}">
            </div>
        </div>
    </div>
</div>


<script id="scr"></script>
</html>
