<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2>Login</h2>
    <form th:action="@{/login}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
        <button type="button" th:href="@{/register}">Join</button>

        <li class="button-header margin-left">
            <a href="#" class="btn" th:href="@{/register}">Join</a>
        </li>


        <!-- Display error messages -->
        <div th:if="${param.error}">
            <p class="text-danger" th:if="${param.error == 'wrong_password'}">Incorrect password. Please try again.</p>
            <p class="text-danger" th:if="${param.error == 'user_not_found'}">Username not found. Please check your input.</p>
            <p class="text-danger" th:if="${param.error == 'unknown_error'}">An unknown error occurred. Please contact support.</p>
        </div>
    </form>


</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
