<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>App landing</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">

    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/slicknav.css">
    <link rel="stylesheet" href="/assets/css/flaticon.css">
    <link rel="stylesheet" href="/assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/assets/css/gijgo.css">
    <link rel="stylesheet" href="/assets/css/animate.min.css">
    <link rel="stylesheet" href="/assets/css/animated-headline.css">
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/assets/css/themify-icons.css">
    <link rel="stylesheet" href="/assets/css/slick.css">
    <link rel="stylesheet" href="/assets/css/nice-select.css">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/assets/img/logo/loder.png" alt="">
            </div>
        </div>
    </div>
</div>

<main class="login-body" data-vide-bg="assets/img/login-bg.mp4">
    <form class="form-default" th:action="@{/register}" th:object="${userRegisterDto}" method="post">
        <div class="login-form">
            <div class="logo-login">
                <a href="index.html"><img src="/assets/img/logo/loder.png" alt=""></a>
            </div>
            <h2>Registration Here</h2>

            <div class="form-input">
                <label for="name">Name</label>
                <input type="text" id="name" th:field="*{name}" placeholder="Full name" required>
                <div th:if="${#fields.hasErrors('name')}" class="text-danger">
                    <span th:errors="*{name}">Name error</span>
                </div>
            </div>

            <div class="form-input">
                <label for="surname">Surname</label>
                <input type="text" id="surname" th:field="*{surname}" placeholder="Surname" required>
                <div th:if="${#fields.hasErrors('surname')}" class="text-danger">
                    <span th:errors="*{surname}">Surname error</span>
                </div>
            </div>

            <div class="form-input">
                <label for="email">Email Address</label>
                <input type="email" id="email" th:field="*{email}" placeholder="Email Address" required>
                <div th:if="${#fields.hasErrors('email')}" class="text-danger">
                    <span th:errors="*{email}">Email error</span>
                </div>
            </div>

            <div class="form-input">
                <label for="username">Username</label>
                <input type="text" id="username" th:field="*{username}" placeholder="Username" required>
                <div th:if="${#fields.hasErrors('username')}" class="text-danger">
                    <span th:errors="*{username}">Username error</span>
                </div>
            </div>

            <div class="form-input">
                <label for="password">Password</label>
                <input type="password" id="password" th:field="*{password}" placeholder="Password" required>
                <div th:if="${#fields.hasErrors('password')}" class="text-danger">
                    <span th:errors="*{password}">Password error</span>
                </div>
            </div>

            <div class="form-input">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" th:field="*{confirmPassword}" placeholder="Confirm Password" required>
                <div th:if="${#fields.hasErrors('confirmPassword')}" class="text-danger">
                    <span th:errors="*{confirmPassword}">Confirm password error</span>
                </div>
            </div>

            <div class="form-input">
                <label for="role">Role</label>
                <select id="role" th:field="*{role}" required>
                    <option value="">Select Role</option>
                    <option th:each="role : ${T(dev.ervin.online_quiz.models.Role).values()}"
                            th:if="${role != T(dev.ervin.online_quiz.models.Role).ADMIN}"  th:value="${role}"
                            th:text="${role}">Role</option>
                </select>
                <div th:if="${#fields.hasErrors('role')}" class="text-danger">
                    <span th:errors="*{role}">Role error</span>
                </div>
            </div>

            <div class="form-input pt-30">
                <input type="submit" value="Registration">
            </div>

            <div th:if="${param.error}" class="alert alert-danger">
                <span th:text="${param.error}">Error message</span>
            </div>

            <div th:if="${param.registrationSuccess}" class="alert alert-success">
                Registration successful! Please log in.
            </div>

            <a th:href="@{/login}" class="registration">login</a>

        </div>
    </form>
</main>

<script src="/assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/jquery.slicknav.min.js"></script>
<script src="/assets/js/jquery.vide.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/slick.min.js"></script>
<script src="/assets/js/wow.min.js"></script>
<script src="/assets/js/animated.headline.js"></script>
<script src="/assets/js/jquery.magnific-popup.js"></script>
<script src="/assets/js/gijgo.min.js"></script>
<script src="/assets/js/jquery.nice-select.min.js"></script>
<script src="/assets/js/jquery.sticky.js"></script>
<script src="/assets/js/jquery.barfiller.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/js/hover-direction-snake.min.js"></script>
<script src="/assets/js/contact.js"></script>
<script src="/assets/js/jquery.form.js"></script>
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/mail-script.js"></script>
<script src="/assets/js/jquery.ajaxchimp.min.js"></script>
<script src="/assets/js/plugins.js"></script>
<script src="/assets/js/main.js"></script>

</body>
</html>